.floating-card {
  box-sizing: border-box;
  height: 12.563rem;
  width: 38.125rem;
  background: #f2f2f2;
  border-radius: 1rem;
  box-shadow: 0px 4px 30px 0px #6452d166;
  padding: 2.69rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .float-content {
    width: 24.313rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    figure {
      color: #6452d1;
      margin: 0;
    }
    p {
      font-family: "Karla", sans-serif;
      font-size: 0.94rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: #000;
      text-align: left;
      margin: 0;
    }
    span {
      margin-top: 14px;
      font-family: "Montserrat", sans-serif;
      font-size: 0.94rem;
      font-weight: 700;
      line-height: 1.5rem;
      text-align: left;
      color: #6452d1;
    }
  }
  .float-img {
    img {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
@media (max-width: 81.25em) {
  /* For Tab-land  81.25em= 1300px/16px */
  html {
    /* font-size: 56.25%; */
  }
  .floating-card {
    width: fit-content;
    padding: 1.69rem;
  }
}
// @media (max-width: 56.875em) {
//   /* For Tab-port  56.875em= 910px/16px */
//   html {
//     // font-size: 85%;
//   }
//   .floating-card {
//     max-width: fit-content;
//   }
// }
@media (max-width: 56.25em) {
  /* For Tab-port  56.25em= 900px/16px */
  html {
    /* font-size: 50%; */
  }
}

@media (max-width: 37.5em) {
  /* For phone 37.5em= 600px/16px */
  html {
    /* font-size: 31.25%; */
  }
  .floating-card {
    width: 100%;

    .float-content {
      width: 80%;
    }
  }
}
